nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.left-icons {
    width: 11%;
    display: flex;
    align-items: center;

}

.left-icons * {
    margin-left: 30px;

}

.left-icons i {

    font-size: 20px;
    color: black;

}

.left-icons img {
    width: 100px;

}





/////////////////////////////////////////////////////////////////////////////////


.center-search-bar {
    width: 50%;
}

.center-search-bar input {
    height: 40px;
    width: 75%;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0% 10px;
    border-right: none;
}

.center-search-bar button {
    height: 40px;
    width: 10%;
    border-radius: 0px 20px 20px 0px;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
}

.miceicon {
    padding: 10px;
    background-color: rgb(233 233 233);
    border-radius: 30px;
    margin-left: 10px;

}

//////////////////////





.right-button button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    height: 35px;
    color: #3ea6ff;
    border: 1px solid gray;
    margin-right: 10px;
}

.right-button button i {
    font-size: 25px;
    margin-right: 8px;
    overflow: hidden;
}
