<div class="sidebar">

    <div class="sidebar-element">
        <i class="bi bi-house-door-fill"></i>
        <label>Home</label>

    </div>
    <div class="sidebar-element">
        <i class="bi bi-lightning-charge-fill"></i>
        <label>Shorts</label>
    </div>
    <div class="sidebar-element">
        <i class="bi bi-film"></i>
        <label>Subscriptions</label>
    </div>
    <div class="sidebar-element">
        <i class="bi bi-layers-fill"></i>
        <label>You</label>

    </div>
    <div class="sidebar-element">
        <i class="bi bi-clock-history"></i>
        <label>History</label>
    </div>
</div>
